# Veritabanı Bağlantı Bilgileri
DB_HOST=localhost
DB_PORT=5432
DB_NAME=blogdb
DB_USER=veritabani_kullanici_adi
DB_PASSWORD=veritabani_sifresi

# Frontend API Adresi
# Yerel ortamda bu satırı silmeniz veya yorum satırı yapmanız yeterlidir (varsayılan: http://localhost:8080)
# Sunucu ortamında sunucu IP adresinizi yazın
# API_URL=http://sunucu_ip_adresi:8080